# for latex and pdf, ignoring temporary files
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.log
*.gz
*.toc
*.upa
*.upb
*.upc


*.swp

# .DS_Store are temporary files created my macOS
.DS_Store

modal/ 
